ul.show {
  list-style-type: circle;
}
li.show {
  display: list-item !important;
}

.navbar-brand {
height: 80px;
}

.navbar-default {
  margin: 5%;
}

img[src$="ojs_brand.png"] {
  height: 40px;
}

a {
  color: #642827;
}
a:hover, a:focus {
  color: #690200;
}

.btn-primary, .btn-primary:hover {
  background-image: linear-gradient(#642827, #642827 6%, #642827);
  border: 1px solid #642827;
}

.orcid::after {
  content: "\a";
  white-space: pre;
}

.label::after {
  content: "*";
  font-weight: 700;
  color: #d00a6c;
  padding-left: 0.25em;
}

.pkp_page_gateway .label {
  color:black;
}

/* styling of the issue page */
.breadcrumb > .active {
    color: #642827;
    font-weight: bold;
    font-size: larger;
}

.description {
    font-size: medium;
    color: #808080;
}

.current_issue_title {
    color: #642827;
    font-weight: bold;
}

/* Styling of the more element */
a.btn.btn-primary.read-more {
    background-image: linear-gradient(#808080, #808080);
    border: 1px solid #808080;
}
